<div class="ui main text container" id="content">
	<h2>لیست حضور غیاب</h2>
	<table class="ui single line table fixed" id="list">
		<thead>
			<tr>
				<th class="five wide">نام و نام خانوادگی</th>
				<th>درس</th>
				<th>تاریخ</th>
				<th>غیبت</th>
				<th>موجه</th>
				<th>علت</th>
				<th><i class="options icon"></i></th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="r in rollcall" :data-content="r.cause" class="popup">
				<td>{{r.name}} {{r.family}}  {{r.unique_code.parseFa()}}</td>
				<td>{{r.unit_title}} | ترم {{r.term.parseFa()}}</td>
				<td>{{r.time.parseFa()}}</td>
				<td v-if="r.absence == 0"><i class="alarm mute icon red"></i></td>
				<td v-else><i class="wait icon yellow"></i> {{r.absence.parseFa()}}</td>
				<td v-if="r.Justified == 1"><i class="selected radio icon blue"></i></td>
				<td v-else><i class="radio icon red"></i></td>
				<td>{{r.cause}}</td>
				<td>
					<a :href="'#rollcall/edit:id=' + r.rid "><i class="edit icon blue"></i></a>
					<a :href="'#rollcall/view:id=' + r.id "><i class="grid layout icon orange"></i></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>