<div class="ui main text container" id="content">
	<div class="ui basic modal" id="remove-modal">
		<div class="ui icon header iranSans">
			<i class="warning sign icon red"></i>
			آیا قصد دارید این دانش‌آموز را حذف کنید؟
		</div>
		<div class="content">
			<p>توجه داشته باشید که بعد از حذف امکان بازیابی وجود ندارد...</p>
		</div>
		<div class="actions">
			<div class="ui red basic ok inverted button">
				<i class="checkmark icon"></i>
				بله، مطمئن هستم
			</div>
			<div class="ui green cancel inverted button">
				<i class="remove icon"></i>
				خیر
			</div>
		</div>
	</div>
	<div class="ui dimmer inverted page">
		<div class="content">
			<div class="center black">
				<h2 class="ui inverted icon header blue iranSans">
					<i class="checkmark icon blue"></i>
					باموفقیت تغییر کرد!
					<hr>
				</h2>
				<br>
			</div>
		</div>
	</div>
	<form class="ui form" :id="student ? 'student-edit-form' : 'student-add-form'">
		<input type="hidden" id="student_id" :value="student ? student.id : null" v-if="student">
		<h2>
			مشخصات فردی طلبه
			<small v-if="student"><small> / {{student.name}} {{student.family}} /  {{student.unique_code.parseFa()}}</small></small>
		</h2>
		<div class="three fields">
			<div class="field">
				<label for="name">نام</label>
				<input type="text" id="name" placeholder="نام طلبه" v-bind:value="student ? student.name : null">
			</div>
			<div class="field">
				<label for="family">نام خانوادگی</label>
				<input type="text" id="family" placeholder="نام خانوادگی" v-bind:value="student ? student.family : null">
			</div>
			<div class="field">
				<label for="father_name">نام پدر</label>
				<input type="text" id="fname" placeholder="نام پدر" v-bind:value="student ? student.fname : null">
			</div>
		</div>
		<div class="two fields wide">
			<div class="field">
				<label for="ncode">کدملی</label>
				<input type="text" id="ncode" class="ltr" placeholder="کد ملی ده رقمی بدون خط تیره" v-bind:value="student ? student.ncode : null">
			</div>
			<div class="field">
				<label for="unique_code">شماره پرونده</label>
				<input type="text" id="unique_code" class="ltr" placeholder="شماره پرونده مرکز مدیریت" v-bind:value="student ? student.unique_code : null">
			</div>
		</div>
		<div class="fields wide ltr">
			<button type="submit" class="ui teal labeled icon button" v-if="!student">
				ثبت‌نام طلبه
				<i class="add icon"></i>
			</button>
			<button type="submit" class="ui blue labeled icon button" v-else>
				ویرایش
				<i class="edit icon"></i>
			</button>
			<button type="button" class="ui red labeled icon button" tabindex="-1" id="remove-student" :data-id="student ? student.id : null" v-if="student">
				حذف
				<i class="remove icon"></i>
			</button>
		</div>
	</form>
	<table class="ui single line table hidden" id="list">
		<thead>
			<tr>
				<th>نام و نام خانوادگی</th>
				<th>نام پدر</th>
				<th>کدملی</th>
				<th>شماره پرونده</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>